<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.talentshow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.star.ActivityStarStatistics"></activity>
        <activity android:name=".presentation.star.ActivityStarVideoBest"></activity>
        <activity android:name=".presentation.CastingActivity">
        </activity>
        <activity
            android:name=".presentation.signing.ChooseRoleActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
        <activity android:name=".presentation.signing.EmailEnterActivity" />
        <activity android:name=".presentation.signing.EmailSuccessCodeActivity" />
        <activity android:name=".presentation.producer.ActivityProducerYes"></activity>
        <activity android:name=".presentation.producer.ActivityProducerName" />
        <activity android:name=".presentation.star.ActivityStarNameEnter"></activity>
        <activity android:name=".presentation.star.ActivityStarFileLoad" />
        <activity android:name=".presentation.star.mainscreen.StarMainScreenActivity" />
    </application>

</manifest>